@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&family=Yatra+One&display=swap');

:root {
    /* Font Family */
    --global--font-heading: 'Yatra One', cursive;
    --global--font-paragraph: 'Palanquin', sans-serif;

    /* Font Size */
    --global--font-size-h1: 12.8rem;
    --global--font-size-h2: 6.4rem;
    --global--font-size-h3: 1.6rem;
    --global--font-size-p: 1.4rem;
    --global--letter-spacing: normal;
    --global--line-height-p: 2.2rem;

    /* Font Weight */
    --global--font-weight-regular: 400;
    --global--font-weight-emphasis: 700;

    /* Spacing & Sizing */
    --global--spacing-primary: 5.6rem;
    --global--spacing-secondary: 2.4rem;
    --global--spacing-intext: 1.6rem;
    --global--sizing-icon: 2.4rem;
    --global--sizing-icon-L: 3.6rem; 
    --global--border-radius: 3.6rem;

    /* Colour */
    --colour-ink: #363636;
    --colour-kok: #265BB3;
    --colour-ps: #57BFEC;
    --colour-sdp: #DA3C2E;
    --colour-kesk: #009F2B;
    --colour-vihr: #85CE3F;
    --colour-vas: #B52A38;
    --colour-rkp: #EFBB31;
    --colour-kd: #724BE3;
    --colour-liik: #AF0079;
    --colour-other: #9FABB4;
    --colour-background:#FE6332;
    --colour-header: #410F36;
}

/* Container */
html { 
    font-size: 10px; 
    scroll-behavior: smooth;
}
body {
    font-size: var(--global--font-size-p);
    font-family: var(--global--font-paragraph);
    background-color: white;
    color: var(--colour-ink);
    padding: var(--global--spacing-primary);
}
html, body, section {
    block-size: 100%;
}
  
html {
    scroll-snap-type: y mandatory;
}

/* Sections */
.card._header{
    /* background-color: var(--colour-background); */
}
.card._header h1, h2{
    color: var(--colour-header);
}
.card._plot{
    text-align: center;
}

/* Typography */
h1, .h1,
h2, .h2,
h3, .h3 {
    font-family: var(--global--font-heading);
}
h1, .h1{
    
    font-size: var(--global--font-size-h1);
    margin: 0 0 var(--global--spacing-primary);
}
h2, .h2{
    font-size: var(--global--font-size-h2);
    font-weight: var(--global--font-weight-regular);
    margin: 0 0 var(--global--spacing-intext);
}
h3, .h3{
    font-size: var(--global--font-size-h3);
}
p{
    line-height: var(--global--line-height-p);
    font-family: var(--global--font-paragraph);
}
a {
    color:var(--colour-ink);
    text-decoration: underline;
    font-weight: bold;
}
a:hover{
    background-color: var(--colour-cinnabar);
    color:var(--colour-beige)
}
.highlight {
    background-color: var(--colour-eggshell);
}

/* Plot */
#candidate_plot svg{
    display: block;
    margin:auto;
}
circle {
    stroke:white;
    fill:var(--colour-other);
}
circle.Kokoomus {
    fill:var(--colour-kok);
}
circle.Perussuomalaiset {
    fill:var(--colour-ps);
}
circle.Sosialidemokraatit {
    fill:var(--colour-sdp);
}
circle.Keskusta {
    fill:var(--colour-kesk);
}
circle.VihreÃ¤t {
    fill:var(--colour-vihr);
}
circle.Vasemmistoliitto {
    fill:var(--colour-vas);
}
circle.RKP {
    fill:var(--colour-rkp);
}
circle.Kristillisdemokraatit {
    fill:var(--colour-kd);
}
circle.Liike.Nyt{
    fill:var(--colour-liik);
}
