@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&family=Yatra+One&display=swap');

:root {
    /* Font Family */
    --global--font-heading: 'Yatra One', cursive;
    --global--font-paragraph: 'Noto Sans', sans-serif;

    /* Font Size */
    --global--font-size-h1: 12vw;
    --global--font-size-h2: 7vw;
    --global--font-size-h3: 2.0rem;
    --global--font-size-p: 1.4rem;
    --global--letter-spacing: normal;
    --global--line-height-p: 2.2rem;

    /* Font Weight */
    --global--font-weight-regular: 400;
    --global--font-weight-emphasis: 700;

    /* Spacing & Sizing */
    --global--spacing-primary: 5.6rem;
    --global--spacing-secondary: 2.4rem;
    --global--spacing-intext: 1.6rem;
    --global--sizing-icon: 2.4rem;
    --global--sizing-icon-L: 3.6rem; 
    --global--border-radius: 3.6rem;

    /* Colour */
    /* parties*/
    --colour-kok: #265BB3;
    --colour-ps: #57BFEC;
    --colour-sdp: #DA3C2E;
    --colour-kesk: #009F2B;
    --colour-vihr: #85CE3F;
    --colour-vas: #B52A38;
    --colour-rkp: #EFBB31;
    --colour-kd: #724BE3;
    --colour-liik: #AF0079;
    --colour-other: #9FABB4;

    /*content*/
    --colour-background:#FE6332;
    --colour-header: #410F36;
    --colour-highlight: #A0FFAA;
    --colour-ink: #363636;
}

/* Container */
html { 
    font-size: 10px; 
    scroll-behavior: smooth;
}
body {
    font-size: var(--global--font-size-p);
    font-family: var(--global--font-paragraph);
    background-color: white;
    color: var(--colour-ink);
}
html, body, section {
    block-size: 100%;
}
  
html {
    scroll-snap-type: y mandatory;
}

/* Sections */
.card{
    padding: var(--global--spacing-primary);
    width: 100%;
    box-sizing: border-box;
}
.card._header{
    background-color: var(--colour-background);
    background-image: url("../images/swallow.svg");
    background-repeat: no-repeat;
    background-position: 90% 70%;
    background-size: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card._header h1, h2{
    color: var(--colour-header);
    overflow-wrap: break-word;
}
.card._header .card-note{
    text-align: right;
    font-style: italic;
}
.card._plot{
    text-align: center;
}

/* Typography */
h1, .h1,
h2, .h2,
h3, .h3 {
    font-family: var(--global--font-heading);
}
h1, .h1{
    
    font-size: var(--global--font-size-h1);
    margin: 0 0 var(--global--spacing-secondary);
}
h2, .h2{
    font-size: var(--global--font-size-h2);
    font-weight: var(--global--font-weight-regular);
    margin: 0 0 var(--global--spacing-intext);
}
h3, .h3{
    font-size: var(--global--font-size-h3);
}
p{
    font-size: 1.6rem;
    line-height: var(--global--line-height-p);
    font-family: var(--global--font-paragraph);
}
a {
    color:var(--colour-ink);
    text-decoration: underline;
    font-weight: bold;
}
a:hover{
    background-color: var(--colour-cinnabar);
    color:var(--colour-beige)
}
.subtitle {
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 600;
    background-color: var(--colour-header);
    color:var(--colour-highlight);
    display: inline-block;
    width: fit-content;
}

/* Select */
#selectButton{
    font-size:var(--global--font-size-h3);
    height: 5.4rem;
    padding: 0 4rem 0 2rem;
    border:var(--colour-header) solid 2px;
    border-radius: 2rem;
    /** for the dropdown indicator */
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
}
#selectButton:focus{
    background-repeat: no-repeat;
    border-color: var(--bg-red);
    outline: 0;
}

/* Plot */
#candidate_plot svg{
    display: block;
    margin:auto;
}
circle {
    stroke:white;
    fill:var(--colour-other);
}
circle.Kokoomus {
    fill:var(--colour-kok);
}
circle.Perussuomalaiset {
    fill:var(--colour-ps);
}
circle.Sosialidemokraatit {
    fill:var(--colour-sdp);
}
circle.Keskusta {
    fill:var(--colour-kesk);
}
circle.VihreÃ¤t {
    fill:var(--colour-vihr);
}
circle.Vasemmistoliitto {
    fill:var(--colour-vas);
}
circle.RKP {
    fill:var(--colour-rkp);
}
circle.Kristillisdemokraatit {
    fill:var(--colour-kd);
}
circle.Liike.Nyt{
    fill:var(--colour-liik);
}
